body {
    color: #F9FAF8;
}

header, .logo, nav, ul{
    display: flex;
    align-items: center;
}

header{
    justify-content: space-around;
}

nav ul{
    list-style-type:none;
}

nav li{
    padding: 0 20px;
}

.logo {
    font-size: 24px;
}



header, .hero-section, footer {
    background-color: #1F2937;
}

h1{
    font-size: 48px;
    font-style: extra-bold;
}

h2 {
    font-size: 36px;
    font-style: extra-bold;
    color:#1F2937;
}

.hero-text {
    font-size: 18px;
    color: #E5E7EB;

}



button {
    background-color: #3882F6;
}

#quote {
    background-color: #E5E7EB;
}

blockquote {
    font-size: 36px;
    font-style: light-italic;
    color:#1F2937;
}